@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<table class="table">
    <thead>
        <tr><th><h4>Таблицы</h4></th></tr>
    </thead>
    <tbody>
        <tr><td><a href="Tables/Players">Игроки</a></td></tr>
        <tr><td><a href="Tables/TypesItem">Типы Предметов</a></td></tr>
        <tr><td><a href="Tables/Items">Предметы</a></td></tr>
        <tr><td><a href="Tables/getItems">Полученные Предметы</a></td></tr>
        <tr><td><a href="Tables/Guilds">Гильдии</a></td></tr>
        <tr><td><a href="Tables/GuildMembers">Члены гильдий</a></td></tr>
        <tr><td><a href="Tables/Locations">Локации</a></td></tr>
        <tr><td><a href="Tables/CleanLocations">Пройденные Локации</a></td></tr>
    </tbody>
</table>

