@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<table class="table">
    <thead>
        <tr><th><h3>Таблицы</h3></th></tr>
    </thead>
    <tbody>
        <tr><td><a href="Tables/">Игроки</a></td></tr>
        <tr><td><a href="Tables/">Типы Предметов</a></td></tr>
        <tr><td><a href="Tables/">Предметы</a></td></tr>
        <tr><td><a href="Tables/">Полученные Предметы</a></td></tr>
        <tr><td><a href="Tables/">Гильдии</a></td></tr>
        <tr><td><a href="Tables/">Члены гильдий</a></td></tr>
        <tr><td><a href="Tables/">Локации</a></td></tr>
        <tr><td><a href="Tables/CleanLocations">Пройденные Локации</a></td></tr>
    </tbody>
</table>

